/images/_MG_0485_tonemapped.jpg
/images/_MG_2463.jpg
/images/_MG_2488.jpg
/images/_MG_4068.jpg
/images/_MG_4078.JPG
/images/_MG_4303.JPG
/images/_MG_4358r.JPG
/images/_MG_4755.jpg
/images/_MG_5101.JPG
/images/_MG_7834.jpg
/images/_MG_9331.jpg
/images/Greek ruins.jpg
/images/New Text Document.txt
/BitsnBobs/test.py
/BitsnBobs/test2.py
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
